.my-own-cdn #wpcontent {
	padding-left: 0;
}

.moc-header {
	background: #fff;
	border-bottom: 1px solid #dcdcde;
	margin: 0 0 1rem;
	text-align: center;
}

.moc-footer {
	margin: 0 auto;
	max-width: 800px;
	text-align: center;
}

.moc-title-section {
	align-items: center;
	clear: both;
	display: flex;
	justify-content: center;
	padding-bottom: 8px;
	padding-top: 8px;
}

.moc-settings-body {
	margin: 0 auto;
	max-width: 800px;
}

// Ajax notice.
#moc-ajax-notice {
	display: none;
	small { display: block; }
}
